# Node modules
node_modules

# Logs
logs
*.log
npm-debug.log*

# Build directories
dist
build

# Environment variables
.env

# Temporary files
*.tmp
*.temp

# HLS video files
uploads

# Test files
**/*.spec.ts

